*, ::after, ::before {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

html, body {
  padding: 0;
  margin: 0;
  width: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: whitesmoke;
  padding: 50px;
  font-size: 15px;
  line-height: 1.1; }
  @media (max-width: 767.98px) {
    body {
      padding: 10px; } }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2; }

.h1, h1 {
  font-size: 2.5rem; }

.h2, h2 {
  font-size: 2rem; }

.h3, h3 {
  font-size: 1.6rem; }

.h4, h4 {
  font-size: 1.4rem; }

.h6, h5 {
  font-size: 1.2rem; }

b, strong {
  font-weight: 700; }

small {
  font-size: .8em; }

hr {
  border: 0px;
  border-top: 1px solid #cccccc;
  padding: 0;
  margin: 0; }

.panel {
  padding: 0px;
  margin: .5px;
  border: 1px solid #cccccc;
  background: rgba(255, 255, 255, 0.6);
  color: #000; }
  .panel > header {
    padding: 15px;
    border-bottom: 1px solid #cccccc; }
    .panel > header h1,
    .panel > header h2,
    .panel > header h3 {
      font-size: 16px;
      line-height: 1.1;
      font-weight: 400;
      text-transform: uppercase;
      padding: 0;
      margin: 0; }
  .panel > section {
    padding: 0px; }
  .panel section > article {
    padding: 15px; }
  .panel.panel-items section {
    padding: 0px; }
  .panel.panel-items section > ul li {
    padding: 10px 50px 10px 15px;
    border-top: 1px solid #cccccc;
    position: relative;
    cursor: pointer; }
    .panel.panel-items section > ul li::after {
      content: "";
      position: absolute;
      top: 0;
      right: -1px;
      height: 100%;
      width: 2px;
      background: transparent; }
    .panel.panel-items section > ul li::before {
      content: "...";
      position: absolute;
      right: 15px;
      top: 4px;
      font-size: 18px;
      color: #000;
      opacity: 0; }
    .panel.panel-items section > ul li:first-child {
      border-top-width: 0px; }
    .panel.panel-items section > ul li.-active, .panel.panel-items section > ul li:hover {
      color: #28a745; }
      .panel.panel-items section > ul li.-active::after, .panel.panel-items section > ul li:hover::after {
        background: #28a745; }
    .panel.panel-items section > ul li.-loading {
      opacity: .6;
      pointer-events: none; }
      .panel.panel-items section > ul li.-loading::before {
        opacity: 1; }

.loader-container {
  text-align: center;
  padding: 15px;
  opacity: .7; }

button,
.btn,
.fileContainer,
.button,
.button-primary {
  font-size: 15px;
  border-radius: 0px;
  border: 1px solid #000;
  background: transparent;
  padding: 10px 15px;
  line-height: 1.1;
  color: #000;
  outline: 0;
  margin-bottom: 15px; }
  button:hover, button:focus, button.active,
  .btn:hover,
  .btn:focus,
  .btn.active,
  .fileContainer:hover,
  .fileContainer:focus,
  .fileContainer.active,
  .button:hover,
  .button:focus,
  .button.active,
  .button-primary:hover,
  .button-primary:focus,
  .button-primary.active {
    opacity: .8; }
  button.button-secondary,
  .btn.button-secondary,
  .fileContainer.button-secondary,
  .button.button-secondary,
  .button-primary.button-secondary {
    border: 1px solid #007bff;
    color: #007bff; }
  button.button-success,
  .btn.button-success,
  .fileContainer.button-success,
  .button.button-success,
  .button-primary.button-success {
    border: 1px solid #28a745;
    color: #28a745; }
  button.button-warning button.button-error,
  .btn.button-warning button.button-error,
  .fileContainer.button-warning button.button-error,
  .button.button-warning button.button-error,
  .button-primary.button-warning button.button-error, button.button-warning
  .btn.button-error,
  .btn.button-warning
  .btn.button-error,
  .fileContainer.button-warning
  .btn.button-error,
  .button.button-warning
  .btn.button-error,
  .button-primary.button-warning
  .btn.button-error, button.button-warning
  .fileContainer.button-error,
  .btn.button-warning
  .fileContainer.button-error,
  .fileContainer.button-warning
  .fileContainer.button-error,
  .button.button-warning
  .fileContainer.button-error,
  .button-primary.button-warning
  .fileContainer.button-error, button.button-warning
  .button.button-error,
  .btn.button-warning
  .button.button-error,
  .fileContainer.button-warning
  .button.button-error,
  .button.button-warning
  .button.button-error,
  .button-primary.button-warning
  .button.button-error, button.button-warning
  .button-primary.button-error,
  .btn.button-warning
  .button-primary.button-error,
  .fileContainer.button-warning
  .button-primary.button-error,
  .button.button-warning
  .button-primary.button-error,
  .button-primary.button-warning
  .button-primary.button-error {
    border: 1px solid #dc3545;
    color: #dc3545; }
  button.button-link,
  .btn.button-link,
  .fileContainer.button-link,
  .button.button-link,
  .button-primary.button-link {
    border: 1px solid transparent;
    color: #007bff;
    text-decoration: underline; }

form .form-group {
  margin-bottom: 15px; }
  form .form-group label {
    display: inline-block;
    margin-bottom: 10px; }
  form .form-group .form-control {
    padding: 15px 10px;
    margin-bottom: 0.3rem; }
    form .form-group .form-control:hover, form .form-group .form-control:focus {
      border-color: #80bdff;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
  form .form-group input.form-control {
    display: block;
    border: 0px;
    outline: 0px;
    background: transparent;
    border: 1px solid #cccccc;
    width: 100%; }
  form .form-group textarea.form-control {
    display: block;
    border: 0px;
    outline: 0px;
    background: transparent;
    border: 1px solid #cccccc;
    width: 100%; }
  form .form-group select.form-control {
    display: block;
    border: 0px;
    outline: 0px;
    background: transparent;
    border: 1px solid #cccccc;
    width: 100%;
    height: 40px; }

form fieldset {
  border: 1px solid #cccccc;
  padding: 15px;
  margin-bottom: 15px; }
  form fieldset legend {
    font-size: 1.2em;
    padding: 4px 5px 8px;
    margin-left: -5px; }

.fileContainer {
  overflow: hidden;
  position: relative; }

.fileContainer [type=file] {
  cursor: inherit;
  display: inline-block;
  font-size: 999px;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0; }

.fileContainer {
  border-radius: 0;
  border: 1px solid #000;
  background: transparent;
  padding: 8px 12px;
  line-height: 1.1;
  display: inline-block; }

.fileContainer [type=file] {
  cursor: pointer; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999999; }
  .modal .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 96%;
    transform: translate(-50%, -50%);
    width: 600px;
    background: white;
    padding: 30px; }
    .modal .modal-content .close {
      position: absolute;
      font-size: 20px;
      text-decoration: none;
      border: 0;
      background: transparent;
      top: 15px;
      right: 15px;
      color: #000;
      cursor: pointer;
      opacity: 0.6; }
      .modal .modal-content .close:hover {
        opacity: 1; }

.beer-cover {
  position: relative; }
  .beer-cover section article {
    position: relative;
    padding-right: 120px; }
    .beer-cover section article .cover {
      position: absolute;
      top: 0%;
      right: 0px;
      width: 100px;
      padding: 30px 20px;
      text-align: center;
      vertical-align: middle;
      height: 100%; }
      .beer-cover section article .cover img {
        max-width: 100%;
        max-height: 100%; }

.circle {
  position: relative;
  display: inline-block;
  width: 122px;
  height: 122px;
  border-radius: 200%;
  margin-right: 15px; }
  .circle canvas {
    width: 100%;
    height: 100%;
    max-width: 100%;
    transform: rotate(70deg);
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
  .circle .outline {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
    border: 7px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.34);
    border-radius: 200%;
    z-index: 1; }
  .circle .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 12px;
    text-align: center; }
    .circle .text strong {
      display: block;
      font-size: 1.5em;
      line-height: 1.1; }

.view,
.view-module {
  margin-bottom: 60px; }

.container-widgets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin: 25px auto; }
  .container-widgets > .col {
    flex: 33%;
    box-sizing: border-box; }
  .container-widgets > .col-2 {
    flex: 25%;
    box-sizing: border-box; }
  .container-widgets::after {
    content: "";
    clear: both;
    float: none;
    display: block; }
  @media (max-width: 991.98px) {
    .container-widgets {
      display: block; } }

/*# sourceMappingURL=main.css.map*/