button,
.btn,
.fileContainer,
.button,
.button-primary {
  font-size: $font-size;
  border-radius: $btn-radius;
  border: 1px solid $primary;
  background: $btn-background;
  padding: $btn-vertical $btn-horizontal;
  line-height: 1.1;
  color: $body-color;
  outline: 0;
  margin-bottom: $base-vertical;
  &:hover,
  &:focus,
  &.active {
    opacity: .8;
  }
  &.button-secondary {
    border: 1px solid $secondary;
    color: $secondary;
  }
  &.button-success {
    border: 1px solid $success;
    color: $success;
  }
  &.button-warning &.button-error {
    border: 1px solid $error;
    color: $error;
  }
  &.button-link {
    border: 1px solid transparent;
    color: $link;
    text-decoration: underline;
  }
}
