// Modal

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $modal-out;
  z-index: 999999;

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 96%;
    transform: translate(-50%, -50%);
    width: $modal-width;
    background: $modal-bg;
    padding: $modal-padding;

    .close {
      position: absolute;
      font-size: 20px;
      text-decoration: none;
      border: 0;
      background: transparent;
      top: $base-padding;
      right: $base-padding;
      color: $modal-close;
      cursor: pointer;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }
}
